/*
!.gitignore
!lsl_manager.pro
!/bin
!/bin/*
!/forms
!/forms/*
!/src
!/src/*
!/include
!/include/*
!/lib
!/lib/*
!/docs
!/docs/*
!README.md
!CMakeLists.txt
!install.bat
!mkshcut.bat
!lsl_manager.desktop

/bin/WIN32/Window/*
!/bin/WIN32/Window/lsl_manager.exe
