/*
!.gitignore
!lsl_manager.pro
!/bin
!/bin/*
!/form
!/form/*
!/src
!/src/*
!/include
!/include/*
!/lib
!/lib/*
!/docs
!/docs/*
!README.md
!CMakeLists.txt
!install.bat
!mkshcut.bat

/bin/WIN32/Window/*
!/bin/WIN32/Window/lsl_manager.exe
